.sorting-buttons {
    margin-bottom: 10px;
}

.favourite-podcast {
    margin-bottom: 20px;
}

.podcast-image {
    max-width: 100px;
}

.podcast-title {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background-color: lightblue;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Tektur';
    font-size: 12px;
    margin-right: 3px;
}

/* Normal screens */
@media screen and (min-width: 768px) {
    /* Your styles for larger screens */
}

/* Smaller screens, e.g., iPhone SE */
@media screen and (max-width: 320px) {
    /* Your styles for smaller screens */
}